*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-image: url("https://4kwallpapers.com/images/walls/thumbs_2t/4584.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.subcontainer{
    height: 290px;
    width: 700px;
    margin:0 auto;
    
   
}
#header{
    height: 65px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color:white;
    background:rgba(189, 107, 168, 0.6);
}
#header h2{
    margin:0 auto;
    text-decoration: underline;
}
table{
    width:700px
}
table,tr,td{
    border-collapse: collapse;
    background-color: brown;
}
tr,td{
    padding:8px;
    text-align: center;
}
#button{
    height: 65px;
    display: flex;
    align-items: center;
    background:rgba(73, 33, 100, 0.6);
}
#btn{
    margin:0 auto;
    width:200px;
    height: 40px;
    border-radius: 5px;
}
#btn1{
    margin:0 auto;
    width:200px;
    height: 40px;
    border-radius: 5px;
    display: none;
    
}
#btn2{
    margin:0 auto;
    width:200px;
    height: 40px;
    border-radius: 5px;
    display: none;
    color:white
}
#button #btn:hover{
    background-color: rgb(128, 71, 71);
}
#footer{
    height: 65px;
    display: flex;
    align-items: center;
    background:rgba(189, 107, 168, 0.6);
}
#footer h4{
    margin:0 auto;
    font-weight: bold;
    color:white;
}
#td1{
    background:#345979;
}
#td2{
    background:#e7e1ce;
}
#td3{
    background:#e67451;
}
#td4{
    background:#f1ba42;
}
.fa-customize{
   padding:6px;
}
.fafa-customize{
   padding:15px;
}